body {
    font-family: "Fjord One";
    font-size: 2em;
}

.center {
    margin: auto;
    padding: 0.5em;
}

.question {
    font-family: "Fjord One";
    font-size: 2em;
    font-weight: 100;
}

.label {
    font-size: 1em;
}

.row {
    display: flex;
    align-items: center;
}

.header {
    font-family: "Fjord One";
    font-size: 2em;
}

.footer {
    bottom: 0;
    font-family: "EB Garamond";
    font-size: 1em;
    position: fixed;
}

