{% extends "base.html" %}
{% block title %} - Insurance Finder{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1"><a href="form1.html"><i class="fa fa-chevron-left fa-5x"></i></a></div>
    <div class="col-md-10">
        <div class="header">More Info!</div>
        <div class="prescription">I have a prescription</div>
        <div class="doctor">I have a doctor</div>
        <div class="specialty">I'm looking for a specialty</div>
    </div>
    <div class="col-md-1"><a href="plans.html">plans.html<i class="fa fa-chevron-right fa-5x"></i></a></div>
</div>
{% endblock %}
