{% extends "base.html" %}
{% block title %} - Insurance Finder{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1"><i class="fa fa-chevron-left fa-5x"></i></div>
    <div class="col-md-10 stuff">
        <div class="header center">Tell us a bit about your needs..</div>
        <div class="self-block">I am a 5 year-old m/f</div>
        <div class="others-block">and need insurance for ___</div>
    </div>
    <div class="col-md-1"><i class="fa fa-chevron-right fa-5x"></i><div>
</div>
{% endblock %}
