{% extends "base.html" %}
{% block title %} - Insurance Finder{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1"><a href="form2.html"><i class="fa fa-chevron-left fa-5x"></i></a></div>
    <div class="col-md-10">
        <div class="header center">Plans</div>

        <div id=plans></div>
        <script type="text/javascript">
            var tie_width = 200;

            var x_slider = function(x) {
                return x/100;
            };

        </script>

        <script id='plans-template' type='text/ractive'>

            {% raw %}
            {{#if plans.length}} <!-- show only when there are one or more items -->
                <ul class="list-group plan-group">
                    {{#each plans:i}}
                    <li class="list-group-item plan-item">
                        <div class="row">
                            <div class="col-md-2"> {{avg}}/yr </div>
                            <div class="col-md-4">
                            <svg width="200" height='60'>
                                <line x1="{{min/100}}" y1="30" x2="{{max/100}}" y2="30" style="stroke:rgb(0,0,0);stroke-width:3"/>

                                <line x1="{{min/100}}" y1="22" x2="{{min/100}}" y2="38" style="stroke:rgb(0,0,0);stroke-width:3"/>

                                <text style="text-anchor:middle; font-size: 0.5em; fill:gray" x="{{min/100}}" y="18">{{min}}</text>

                                <line x1="{{max/100}}" y1="22" x2="{{(max)/100}}" y2="38" style="stroke:rgb(0,0,0);stroke-width:3"/>

                                <text style="text-anchor:middle; font-size: 0.5em; fill:gray" x="{{max/100}}" y="18">{{max}}</text>

                                <circle cx="{{avg/100}}" cy="30" r="7" stroke="black" stroke-width="2" fill="gray"/>

                                <text style="text-anchor:middle; font-size: 0.7em; fill:gray" x="{{avg/100}}" y="55">{{avg}}</text>
                            </svg>
                            </div>
                            <div class="col-md-2">
                            <p>{{name}}</p>
                            </div>
                            <div class="col-md-2">[...]</div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
            {% endraw %}
        </script>

        <div class "col-md-2"></div>
        <script>
            var ractive = new Ractive({
                el: '#plans',
                template: '#plans-template',
                data: {
                    plans: [
                    {
                        name: 'Aetna HMO',
                        min: 1000,
                        max: 10000,
                        avg: 6000
                    },
                    {
                        name: 'Blue Shield PPO',
                        min: 2000,
                        max: 15000,
                        avg: 4500
                    } ],
                    gmin: _.min(this.plans, function(x) { return x.min; }).min,
                    gmax: _.max(plans, function(x) { return x.max; }).max
                }
            });
        </script>

    </div>
    <div class="col-md-1"></i></div>
</div>
{% endblock %}
